Q1 Explain with a example each when to use a for loop and a while loop.

A for loop is used to repeat any data of python which could be string, list, tuple, dictionary in a given sequence. Where as a while loop is used to run the specific code while a condition is True. When the condition will false then while loop will stop running that specific code.

In [1]:
#example of use of a for loop.

In [2]:
l = ["aditya" , "pandey" , "pwskills" , "datascience"]

In [3]:
l

['aditya', 'pandey', 'pwskills', 'datascience']

In [4]:
for i in l :
    print(i)

aditya
pandey
pwskills
datascience

In [5]:
l1 = ["i want to learn python completely"]

In [6]:
l1

['i want to learn python completely']

In [7]:
for i in l :
    print(i)
else :
    print(l1)

aditya
pandey
pwskills
datascience
['i want to learn python completely']

In [8]:
#here we see that by using a for loop in list we can print the complete data in a sequence and also we can add the data in that sequence.

In [9]:
#example of a while loop

In [10]:
#print tables of a number

In [11]:
n = int(input("enter your number"))
i = 1

while i<=10 :
    result = n*i
    print(n , "*" , i , "=" , result)
    i = i+1

enter your number 12

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120

In [13]:
n = int(input("enter your number"))
i = 1

while i<=20 :
    result = n*i
    print(n , "*" , i , "=" , result)
    i = i+1

enter your number 15

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
15 * 11 = 165
15 * 12 = 180
15 * 13 = 195
15 * 14 = 210
15 * 15 = 225
15 * 16 = 240
15 * 17 = 255
15 * 18 = 270
15 * 19 = 285
15 * 20 = 300

Q2 Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [16]:
#sum of first 10 natural numbers using for loop

In [17]:
n = 0
for i in range(1,11):
    n = n+i
    print(n)

1
3
6
10
15
21
28
36
45
55

In [18]:
#now sum of first 10 natural numbers using while loop

In [19]:
n = int(input("enter your number"))
starting_point = 0
counter = 1

while counter<=10:
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

enter your number 10

55

Q3 Create a python program to compute the electricity bill for a household.
The per-unit charge in rupees are as follows: For the first 100 units, the user will be charged Rs4.5 per unit, for the next 100 units, the user will be charged Rs 6 per unit, and the next 100 units the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [38]:
units = int(input("enter the units consumed"))
bill = 0


if units<=100:
    bill = units * 4.5
    print("The electricity bill is:" , bill)
    
else:
    if units<=200:
        bill = 100*4.5 + (units- 100)*6
    else:
        if units<=300:
            bill = 100*4.5 + 100*6 + (units - 200)*10
        else:
            bill = 100*4.5 + 100*6 + 100*10 + (units - 300)*20
    
    print("The electricity bill is:" , bill)

enter the units consumed 310

The electricity bill is: 2250.0

Q4 Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [39]:
#using for loop

In [56]:

for i in range(1,101):
    cube = i ** 3
divisible_by_4_or_5 = []

for i in :
    if i % 4 == 0 or i % 5 == 0:
        divisible_by_4_or_5.append(i)
        
print("using only for loop:")
for i in divisible_by_4_or_5:
    print(i)

TypeError: 'int' object is not iterable

In [70]:
l = []
for i in range(1 , 101):
    cube = i ** 3
    l.append(i)
divisible_by_4_or_5 = []

for i in cube[range(1, 101)]:
    if i % 4 == 0 or i % 5 == 0:
       divisible_by_4_or_5.append(i)

print("Using for loo:")
for i in divisible_by_4_or_5:
    print(i)

TypeError: 'int' object is not subscriptable

In [71]:
#using for loop

In [82]:
cubes = [i**3 for i in range(1, 101)]
divisible_by_4_or_5 = []

for i in cubes:
    if i % 4 == 0 or i % 5 == 0:
        divisible_by_4_or_5.append(i)
        
print("Using for loop:")
for i in divisible_by_4_or_5:
    print(i)

Using for loop:
8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

In [83]:
#using while loop

In [94]:
cubes = [i**3 for i in range(1, 101)]
divisible_by_4_or_5 = []

counter = 0
while counter < len(cubes):
    i = cubes[counter]
    if i % 4 == 0 or i % 5 == 0:
        divisible_by_4_or_5.append(i)
    counter += 1
    
print("Using while loop:")
counter = 0
while counter < len(divisible_by_4_or_5):
    print(divisible_by_4_or_5[counter])
    counter += 1

Using while loop:
8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

Q5 Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [106]:
s = "I want to become a data scientist."
vowels = "aeiouAEIOU"
count = 0
for char in s:
    if char in vowels:
        count += 1
print("The number of vowels in the string is:" , count)

The number of vowels in the string is: 12